.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan

# Ignore .terraform directory
.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc 

# Ignore lock.hcl files.
.terraform.lock.hcl