*.tfstate
*.tfstate.backup
*.tfstate.lock
**/.terraform/*
crash.log
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraformignore
.hclfmt.toml
.pre-commit-config.yaml
**/.terraform/
.idea/
.vscode/
*.bak
*.swp
*~
.pytest_cache
.terraform.*
.DS_Store