

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">

    <title>Comics</title>
</head>
<body>

    <section class="comic-area mt-4" id="comic-section">
        <div id="comic-container">
            <h1 class="text-center"><strong>Enjoy Some Random Comics:</strong></h1>
            <button id="refresh-button" class="refresh-button">
                <span class="icon">&#8634;</span> Refresh Comic
            </button>
            <div id="title">{{comic.title}}</div>
            <div id="date">{{comic.day}}/{{comic.month}}/{{comic.year}}</div>

            <img id="img" src={{comic.img}} alt="{{comic.alt}}"/>
            <br>

            <div id="alt">{{comic.alt}}</div>
        </div>
      </section>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
          $(document).ready(function() {
              // Add a click event handler for the refresh button
              $("#refresh-button").click(function() {
                  // Send an AJAX request to fetch a new comic
                  $.ajax({
                      type: "GET",
                      url: "/refresh",
                      success: function(data) {
                          // Replace the comic content with the new comic data
                          $("#title").text(data.title);
                          $("#date").text(data.day + "/" + data.month + "/" + data.year);
                          $("#img").attr("src", data.img);
                          $("#alt").text(data.alt);
                      }
                  });
              });
          });
      </script>

</body>
</html>
