version: "3"

networks:
  monitoring:

services:
  app_python:
    image: marufasatullaev/app_python:latest
    volumes:
      - ./logs/:/code/log/
    ports:
      - "5000:5000"

  grafana:
    image: grafana/grafana:9.1.6
    volumes:
      - ./config/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yml
      - grafana:/var/lib/grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring
    mem_limit: 300M
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  promtail:
    image: grafana/promtail:2.6.1
    volumes:
      - ./logs/:/var/log/
      - ./config:/etc/promtail/
    ports:
      - "9080:9080"
    command: -config.file=/etc/promtail/promtail.yaml
    networks:
      - monitoring

  loki:
    image: grafana/loki:2.6.1
    ports:
      - "3100"
      - "7946"

    command: "-config.file=/etc/loki/local-config.yaml"
    networks:
      - monitoring
    mem_limit: 300M
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./config/prometheus.yaml:/etc/prometheus/prometheus.yml
      - prometheus:/prometheus
    command:
      [
        "--log.level=debug",
        "--config.file=/etc/prometheus/prometheus.yml",
        "--query.lookback-delta=30s",
      ]
    networks:
      - monitoring
    mem_limit: 300M
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

volumes:
  grafana:
  prometheus:
