global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']
