apiVersion: v1
kind: Service
metadata:
  name: app-python
spec:
  type: NodePort
  selector:
    app: app-python
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30034
 