body, h1, p {
    margin: 5;
    padding: 0;
}

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 28px;
    color: #333;
}

#quote-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: rainbowText 5s infinite;
}

@keyframes rainbowText {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

#quote-text {
    font-size: 18px;
    margin-bottom: 20px;
}

#get-quote {
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#get-quote:hover {
    background-color: #0056b3;
}


.text-center {
    text-align: center;
}


@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
