# Ignore Docker-specific files and directories
Dockerfile
docker-compose.yml

.git
.gitignore

# Ignore node_modules directory to avoid including all dependencies
node_modules

# Ignore build artifacts and temporary files
build/
.svelte-kit/
.svelte/
__sapper__/
.vscode/
.env
*.log
