version: '3.8'
services: 
    {{ app_name }}:
        image: "{{ image }}"
        container_name: "{{ container_name }}"
        ports:
            - {{app_port}}:{{app_port}}
        restart: unless-stopped