name: Python package

on:
  push:
    paths:
      - app_python/**
      - .github/workflows/python.yml
  pull_request:
    paths:
      - app_python/**
      - .github/workflows/python.yml

defaults:
  run:
    working-directory: ./app_python

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir -r app_python/requirements.txt
      - name: Linting
        run: black app_python/

      - name: Tests
        run: pytest app_python/
