name: CI test

on:
  push:
    paths:
      - 'app_python/**'
      - '.github/workflows/ci.yml'

permissions:
    security-events: write

defaults:
  run:
    working-directory: ./app_python

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup python
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: install poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          installer-parallel: true
      - name: install dependencies
        run: poetry install --no-interaction --no-root --with=test
      - name: run linter
        run: poetry run pycodestyle src
      - name: run tests
        run: poetry run pytest
  build:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: dockerhub login
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: build and push
        run: |
          docker build -t {{ secrets.DOCKERHUB_USERNAME }}/moscow-time:latest .
          docker push {{ secrets.DOCKERHUB_USERNAME }}/moscow-time:latest
